<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- This file is linked to from the ReadMe.md -->
  <configSections>
    <section name="tracing" type="OpenTracing.Contrib.LocalTracers.Config.System_Configuration.TracingConfigurationSection, OpenTracing.Contrib.LocalTracers"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <tracing>
    <console>
      <enabled>true</enabled>
      <colorMode>BasedOnCategory</colorMode>

      <colorsForBasedOnCategoryColorMode>
        <!-- available: Activated, Finished, SetTag, Log -->
        <!-- available: any ConsoleColor -->
        <Activated>Green</Activated>
        <Finished>Red</Finished>
        <SetTag>Magenta</SetTag>
        <Log>Blue</Log>
      </colorsForBasedOnCategoryColorMode>

      <!-- [4:21:01 pm] | 1.0.2.1   | StartSpan  | Whatever text is configured in the method -->
      <!-- available:
        date<colon><format>
        spanId
        spanIdFloatPadding
        logCategory
        logCategoryPadding
        outputData
      -->
      <format>[{date:h:mm:ss tt}] {spanId}{spanIdFloatPadding} | {logCategory}{logCategoryPadding} | {outputData}</format>
      <outputSpanNameOnLogTypes>
        <!-- available: Activated, Finished, SetTag, Log -->
        <Activated>true</Activated>
      </outputSpanNameOnLogTypes>

      <dataSerialization>
        <SetTag>Simple</SetTag>
        <Log>Simple</Log>
      </dataSerialization>
    </console>

    <file>
      <enabled>true</enabled>
      <rootLocation createIfNotExists="true">
        <path>c:\Traces</path>
      </rootLocation>
      <outputMode>CSV</outputMode>
    </file>
  </tracing>
</configuration>